# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

fastapi
uvicorn
redis
python-dotenv
pydantic
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
aiohttp
